

nav{
    background-color: darkblue;
}

.navBar{
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

.weatherContainers{
    display: flex;
}

.searchSection{
    max-width: 280px;
    width: 30%;
}

.card{
    width: 30%;
    margin-left: 10px;
}
.searchBtn{
    background-color: lightseagreen;
}

.futureWeather{
    display: flex;
    flex-direction: column;
}